@use './colors.scss' as *;
@use './vars.scss' as *;

.popup-container {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(20px);
        
    .popup {
        background: $light;

        border: $border;
        border-radius: $border-radius;

        padding: 20px;

        display: flex;
        flex-direction: column;

        gap: 20px;

        .popup-message {
            display: flex;
            flex-direction: row;

            gap: 10px;

            .popup-icon {
                color: $dark;
            }
        }

        .popup-buttons {
            display: flex;
            flex-direction: row;

            gap: 20px;

            justify-content: center;
        }
    }
}